html {
  color:rgb(181, 171, 171);
  background-color:rgb(0, 0, 0);
  text-align:center;
  font-family:JacksonFont;
  font-weight:700%;
  user-select:none;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  touch-action: none;
  overscroll-behavior-y: contain;
  white-space: pre;
  font-size:90%;
  line-height:10px;
  transform: scaleY(2) translateY(20%) translateX(-5px);
  z-index:-1;
  
}

@media screen and (max-width: 1000) {
  #subcontainer {
    transform:translateY(180px);
  }
  
}

#subcontainer {
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  transform: translateY(-150px);
}

#container {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

#time-span {
  float:left;
}

#miniMap2 {
  font-size:10%;
  line-height:5px;
  text-align:left;


  z-index:0;
}
#miniMap {
  font-size:10%;
  line-height:5px;
  text-align:left;


  z-index:0;
}



.terminal {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 19px;
}

#screenAndOverlay {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

#overlay {
  font-family:monospace;
  transform:scaleY(.5) translateX(45px) translateY(-225%);
  font-size:100%;
  font-weight:bold;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

#overlay p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.terminal p {
  margin: 0 10%;
}

.inputSpot {
  height:30px;
  margin:0 10%;
  width:100%;
}

#inputText {
  background-color: transparent; 
  border: 0px; 
  outline: none; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
  width:100%; 
  color:white; 
}

#afterward {
  margin:0 10%;
  text-align: left;
  user-select:none;
  width: 100%;
  touch-action: none;
  overscroll-behavior-y: contain;
  white-space: pre;
}

.terminal {
  margin:0 10%;
  position:fixed;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 19px;
  transform: translateY(-75px);

}

.terminal p {
  margin: 0 10%;
}

.inputSpot {
  height:30px;
  margin:0 10%;
  width:100%;

}

#inputText {
  background-color: transparent; 
  border: 0px; 
  outline: none; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
  width:100%; 
  color:white; 
}

#afterward {
  margin:0 10%;
  text-align: left;
  transform: translateY(-50px);
}


@font-face {
  font-family: "JacksonFont";
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADLUAA0AAAACTWwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAyuAAAABwAAAAciOCdAUdERUYAADKcAAAAHAAAAB4AJwA+T1MvMgAAAZgAAAA9AAAAYGJWV0ZjbWFwAAAB+AAAAJEAAAFipfxxKmdhc3AAADKUAAAACAAAAAj//wADZ2x5ZgAAA1wAACtvAAJApEVcP/VoZWFkAAABMAAAADMAAAA2C04VjWhoZWEAAAFkAAAAGwAAACQF6ABsaG10eAAAAdgAAAAdAAAAegRyAEBsb2NhAAACjAAAAM4AAADkADoFPG1heHAAAAGAAAAAGAAAACABKxAUbmFtZQAALswAAANJAAAHYqmnSE9wb3N0AAAyGAAAAHoAAAChUr0kI3icY2BkYGAA4ju+fqnx/DZfGbhZGEDgpHjpZxB9/1P0HRDNrMZ0AEhxMDCBVAMAILEJ0wB4nGNgZGBgOsDAACH/LmNWY2BkQAWsAFE7A1gAeJxjYGRgYLAQEGL4xAACTAxoAAAfaQFQeJxjYGJqYJzAwMrAwsTAxAACEBqIjRnOgPgsDHDAyIAE3IJDghgcgIwqpgNgfQcQapgOgHkKDIwAIucHUAAAAHicY0hjgANGBwYGpgMMxAAFnGI8ROkHAgCsHgG2AAAAeJxjYGBgZoBgGQZGBhCIAfIYwXwWBgcgzcPAwcAEZDMw8DIoMEQxVP3/D1YH4jkyJAJ5jP+//n/8//D/vVAT4ICRjQEuxMgEJJgY0BRArMYLWFjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWkZWQh8nLyCopKyiqqauoamlraOrp6+gaGRsYmpmbmhEymCwAArkcULwAAAHicVY6hawIBFMZ/3yUxGIaKC7YLHihoEGTcYGkMLAdW/wKT4WAXDBMMJkEQWRzMYNjGhbE0trKgGBYmSxcWHFgHFxd8rO3Bx3vf+33hg78J/qvgw3Ed3CV4z9C090kKpxF07O6UYLCHqWm+hVtjDy14GcHmCz5mkJhPVvB7gTKPKJdBRyEqXqFyhNwW8vKoZr4xQ/4NOr9GbcsEK9S9Qz1QP0aXKRq+oUkd3VdRbPxpjKyaXo2tK+jd9ucOfVvup4STDXHKKc7Z4gDZZDNJAAB4nO1dD4BM1fc/59z75s2f/YOx1u6SWRqbhNZYS8KTIkmS8iflT5J/CeHbd0VGkvInIl9J/lVSSZJERVaSSiXhK5WQ1FeRkOinWb87b3bX7JqZndmd3Z3dvTPvz7333XvO55z33r3nvHffvaCA+FEmZQIDFSxQBaoB2NPqxKVfXGurhjhWObky9h1x4MCIEQeGN7Il/0GZ/UeMmORZhicnN8iqSpkuDTJy6VWCZGgMbeF2GAD/ginwLLwK78F2+B6OQxbGog1T8TrsivfiGHwc5+Er+C5+ht/hMXRRDNWiq6kN3Ub9aTRNpv/QclpPn9K39Bv9w6LZZawR01gXdg8bxR5jc9nLbB37hO1jv7LzPIrX5A15a34r78cf5JP4M3wZf4dv49/wo/z/FItSQ2mgtFI6K32VkcqjyhzlJWWt8rGyV/mf8rfBbEgyXGVoabjF0McwwjDRMNvwouFtw1bDfw2/GM6pJjVRra9eq3ZSe6vDVaf6tPqCukb9SN2j/qyeNRoBHLVT6qY1SW/qaBxfLa6qaqhTdhLsEYJDQi8jCRK6hC6hR3yChF4aCbYYk/jFRJvMZlO0VuoRl7PUIUg8Eo/EI/FIPD4iuQHvxBIOaxKEBCFBSBASRJBhr2edBAoYwQIxUBmqQjwkQk2wQR2oC/XgKmgEjSENmkELaAVt4HpoDzdBJ7gVukI36Al3QR+4BwbAIBgKD8BIGA0PwVgYD06YBI/DkzAdZsJsmAvPwgJYBEvhJVgOr8FKeBPWwDvwLmyATfAhbIVPYDt8CTthN+yFb2E/HITD8DMchWNwAk7BGTgH5yELETmqaMZorIRWrIYJWANrYW204xVYHxtiKjbBdLwGW6KGbbEddsCbsTPehndgD+yFvbEf3osDcQhAanpc4MUuM4Qpg3bx59JKO1KRf+J2v3jPG8W9niju8avEvd1K3NO3inv5HnEPjxb37uPinn1W3KuviXt0g7g3vxT35EFxL56C8+L+ixb3XS1xv6WK+6ytuL/uEPfVQByBGfgoTsNncCG+jKtwPW7Gz3AXfo9H8Hc8S0AmqkJJdDk1oKbUmm6kLnQn9af7aQw9QlNoFs2nF2gFvU0b6WPaQd/QIfqVTtM/TGExLJ7ZWD3WmLVg17NOrBvrwwaxkWwsm8Sms7lsEVvO3mTvsg/Zdrab7Wc/sxPsHEdu5lZeg9t5Q57Otez3G+5nHMUXsEsWkoVkUU5ZtE60Vkm0WsOzc02Q1CQ1Sc29q2JNsloTi7LVJAlJImJJCN86x+6OhvrC0p4HR/BanITv4SE8hxc8tmlLdDcyuS1O9nox1ddR/7kC5S64VDClg6cSCrXc1REk1ZoYFnIFkPFX3E+x/NnzZXPkTXbEaUl6RSgWd8izeOL5Uy895juHv3yBcgcuU3BJz6IFJlCYksHmDpQjf6o7JG5PzXNchDyL5k0xN9XHMZ85/OYLkLuAMgWW9CyBi2vOQhT1UyiIjH4OeiVo8lmE7lOkujte5PbCCGeKvdgo56bYpRRSCilFaUiRx3OaUPiISysyCU/EtUkikogiCJEn4jH0ChfWilL4ooUpUUgUxYDCbT7X9WtD3wfD4d8wEabCHHgelsEbsA4y4VM0YmVMxDp4FaZhK2yPt+IkXIMbhG38DykUR3Zq6GWdJl8SsAeRkhtQUlPSqsZXc2SvLbBJSt06OWsapoTCpnAIhGfgjSD/mhdR/jXNhGFCaA0M41JYzSkQsPyrA+NykZowIPW4tGAJKRigoCM+Li2fKQIX8u6zMj3PEhCSfMZz9q7MXAcxEXO9RgSnv+y+04Nll5WZ5dOt9eLtvRBkFRGI0xXI9w7E23vRyJmVTVBAAs0nJd8l0XkhF+IFr5IXc2RL6Enz3mp+I56t0+njcZV2ATILIBUc9SwnOkN4rKVlARaCsSuT/HApkKP34nKKU5SNWyPw/cTK9wOuLKc4R56imQi+cjs1Z26l3zLfN6+xYIV4SIJaovZPgfrQCByQDi2gNbQV7UBH6AxdoTv0gj7QHwbCUNEujIKH4GGYAJNgCkyDmaKFmAcLYDG8CMthBayCNaKteB82wRbYBtthB+yCvfAdHIDD8Av8BifgNEBqmiPO4WO1B5lWFvN6daURJ9tHsPjTI+Hnvvxm5V6DCsSIq88G9aCxuOauh07QTVxpA8RV5oSn4QVxLX0Ee+BnOCssjwRhdzQQVkdn7Isj8VGcgy/hWvwY9+Ih/E3YH9F0GTUijbrQPTSKHqO5tJhepfdoO31PxymLxTIbS2XXsa7sbjaQ/Zs9yZ5jK9gG9gX7gZ3gwCvzJG7nTXl73oMP5mP5NP48X8k/4Dv4Pn6Y/6koSjUlRWmmdFDuVIYq45QZyjxlqfKWskXZrRxR/jKohuqGeoZrDB0Nd/j5gtqq1lQbqq3VW9V+6oPqJPUZdZn6jrpN3al+o/6oHlP/MoLRbKxqvMx4hbGx8VpjW/ed4m49UxunNy3GgLhm3WH3p+4Od/Occ7BsJEj0Er1EH1nYJPpITpDoSxX9xYQSCcV5vtsoytbl/ubE/emJ2RTtSSzliAQkAUlAElBpRyIQkC07ooV5b7N5PgEsytZmc1Pzhl0qYU2TMCQMCUPCKKMwbJ5wUbY2AECvdwGQWjm5sjvs0uBUxR3H0phgvNLYwniz8W7jA8YJxlnGpca3jFuMu41HjH+ZVFN1Uz3TNaaOprtMw0yPmGaalphWmz407TL9ZDpjNpjjzVeYm5tvMvcy328eb37KvNj8pnmz+WvzYfOfFsVSzZJiaWbpYLnTMtQyzjLDssiyypJp2Wn50XI6ikfFRdWNSo+6Mapn1JCoh6OmRy2MeiNqU9RXUYeiTkWz6KrR9uim0e2je0QPjh4bPS36+eiV0R9E74g+GH0yhmKsMZfHpMW0i+keMygmI2ZqzIKY12M2xnwZcyDmj1iMrRJbJ7ZJ7A2x3WIHxv479snY52JXxG6I/SL2h9gTlaBSZYB0t1/qdhXdPmNV9/vjspLgUNxvkSNgzLNCJNgjQ4VS62UkQWpdal1qPfITpNal1qXWIz1Bal1qXWo98hOk1ktlCG+zUVWNZot7a9FKPRJpQ9a6nKWuEqkfqR+pH6kfqR+pH6kfqR+pH6mfMqMfg8Dkja9UwoZcON7QSjjcTmpCakJqQmpCakJqQmpCakJqQmoizGGAsRW4P2dUme7fWIZff0noErqEHukJErqEXmGgY+XkyjaFM8YVg3tr0Eo94nKWOgSJR+KReCQeiccXnr6UaRV777RSCWsShAQhQUgQEkSQYdcw/WN28H7+WXpj3p6F83ABGapowVi0YjwmYS2sgylYHxuhA9OxBbbGttgeO2Jn7IrdsRf2wf44EIficByFD+HDOAEn4RSchjNxDs7DBbgYX8TluAJX4Rpch+/jJtyC23A77sBduBe/wwN4GH8BSE+rE+cIcrXLvGUyr9u1be4Y5ePvWlMhksdSpsHh86dViGS3Aty1na+67nJIg3aiRhsEGTAeJsJkeBJm5Blf+Vf4HU7BX/B/onaqkTvK8r04CO/HETga/41P4nOiptmAX+BO3IP7cD8ewlPEqCrZqSm1p47UmbpSd+pFfWgETaTZ9CK9Tetpg8DyEX1C++hXOs+iWE3WkDVmTdk1rBW7jrVj3dkglsGmsgVsMXuRLWcr2CqWyXayH9lpznkcT+A1eTK383q8AW/FO/O+fCR/lD/Op/Kn+Gz+H76cr+ef8m/5b/wfBXzXdUrJPBfzc2cWB3edWXLFENORT9RyLKa3qOVczBxRK4CYJXc23UbA6wnzs/+uGapB/FSje2vUvCPOQkRcn+dSFrS/CAM5TPBJTSsq7PAjnZ+DNQC1wsAuDqTZWIOlFiTs4kGqYy0UNf+wiwvp/ISsTkUllheo+9FiQu5PHDJ6Hy50uH1CQpiotpfoJLpygs412uMfPeblH1mEb5QEdaA+OKAFtIWO0BV6wF1wL9wPo2GcyDsdnoHn4SV4HVbDWtgIW+EL4S/thyNwHM6ACxU0YwxWw8uwLjbEpsJvaoe3YDfsrT+5GY4P4QScgjNxHi7G5bgK1wkPKhM/wa/wGzyI/8M/8BwBGakSxVECJVM9SqXm1IY6UBfqSf1oMD1AD9JYepSmCo/qOXqBXqO36D36kLbRdtpF39Fh+o1OC8+KMQuzsiRmY5ezq1gTdi27nt3Mbmd3sXvZ/Wy08LHGs8lsBpvLFrJlbCVbyzayrewL9rV7jpl41ZGaku6IC+PevbNLwpKwJFwKhG02zVYLi7J1aZKGpBH5NFrXstlsGPJG02RBWbBQBQEWucfOFjbkB0CggFHYkTFQGapCPCRCTbAJi7Iu1IOroBE0hpZwo7Aqe8NgYVFOgKkwF5bACnhD2JNvwzp4T9iUmbAFPoZP4XPYAV8L6/IQHIOzSBiN1bGOsCqb4/XYGW/DO7AH3osjcBw+gXNwEb6Kb+Mm/Az3CFvyO/wBf8UzhBQt7Ei7sCJb0o3UlXrTEBpDE2k6PUsv0Zu0gT6h3XSQjtFZRiyGJQhrsRG7ht3AbmW92H3sQWElPsHmsEXsVfY2y2Sfs2/YT+wEO88NvAq/jF/Jm/I2/GbenffnD/AMPpnP4gv4y3w138g/5Xv4IX6Mn1VIiVaqK3WUhkpz5Xqls9JLuU8ZqYxTpiizlYXKK8rbSqbyOUB6c3SEuCSnpzjS4x1qfIrqKNGgPXSIqSWNMSUghGDCxY8iREBFAW1PUVNzYgXxLwR7b+p+wvaC4RaAsfDXa/AChxgMRu7i1XzQshecubAqCQAvBO7hrqOK62IK6qwkpCSkaO6NHtA0V0/VWt2oJlRVrVW1Eg1mOVMSvP6lB6RnaWqhVJm7llur5sQSwkl44EW6ms9gwTIPLCZoLmcxKbNgmZ3FJFLpyRzJnIvr2i4wiPGx8WKJiQn3XpOEcwnnBAtLwN8Rv4iLyrDIqvCLuKjISv7kFRvh4lIFZOS+jzJCZUiEOnAVpEEraA+3Qk+4B4bCaBgPj8NMeBaWwmuwBjbAVvgS9sJBOAqn4DxyjMZqWAuvwFS8BtvizXgH9saBOAIz8FGchs/gQnwZV+F63Iyf4S78Ho/g73iWgExUhZLocmpATak13Uhd6E7qT/fTGHqEptAsmk8v0Ap6mzbSx7SDvqFD9Cudpn+YwmJYPLOxeqwxa8GuZ51YN9aHDWIj2Vg2iU1nc9kitpy9yd5lH7LtbDfbz35mJ9g5jtzMrbwGt/OGPJ1rAI5G2Fogj8XiC9glC8lCsiinLGym+HiTsXp1o1ZsAZdT8pA8JI/yzsOzzYmFb69JwpKwJFwKhHXfyvOeloMJYsAK1aEm1IYU4WOlQlNoARrcADdBZ7hd+Fq9oT8MgmHwIDwE42Ci8LmmwSyYC8/BYngJXoU3hO+1HjbCh7ANPoed8F/4TvhgR+BXOAF/wt+QhQyNwhergvFYA5OxLtbHqzFN+GSt8XrsgLdgV+yBd+M9wje7H0fiv/BhdOJknIozhY82Hxfhi/gKrsS39F6Cm/Fj3I5f4R78Fg/gT3hU+Gyn8Ry6iEilKKpM1YTvZiM7XUmNqAk1p1bUVvhwneg26k53AaSnpOudgULc2GUxWazATVSUzRadEPLG1VOWk+WC32Dd+Pi6wa6azFzGM7sfhbrbbC7a7PdBAQtUhnjRYteBetAI0kR73QbaQyfoKlrrPjAAhsJI0VaPh0nwJMwULfUCWArLYaVop9+FTbAVtotWei/sh8NwVLTRZ+A8IqqihbZiAtZCu2ifUzEdW2Jb0Tp3xjuwF/YTbfMwHIUZOEG0zNPwaZyHC0W7/CquwrX4vmiVt+EXuAv3iTb5CP6GJ/GsaJEZmSiW4kR7nEwp1IAcojVuTTdQR+oi2uK7qT8NpuE0hh6miTSFZtAcmk+LaRmtoNW0jjbSFvqUdtAevc12eHrwFnZrlxQkhQijUKlSJVvRFldfSUKSiFQSvEZSUo1gV01mLuOZQdgltoDjSYGjcvB/m8+f+2PFYFd4pwKP759gvNLYwniz8W7jA8YJxlnGpca3jFuMu41HjH+ZVFN1Uz3TNaaOprtMw0yPmGaalphWmz407TL9ZDpjNpjjzVeYm5tvMvcy328eb37KvNj8pnmz+WvzYfOfFsVSzZJiaWbpYLnTMtQyzjLDssiyypJp2Wn50XI6ikfFldC8AmV5GuniGCpa6kMqSOpDKkheMPKCiRAFSX1IBUl9SAV5EmzeM8E5ixqJtKmbXZlFliiz1IUIMFm3PGHyhMkTJk+YPGHyhMkTFiHiGcrVfLxFmpm47EtQvqQp+xKUL2nKvgTlS5qyL0H5kqbsSxBx0oDXN9wmsEJNSIFUaAE3QGfoCf1hGDwEE2EazIXF8CqsgY2wDXbCd3AETsDfyDAa4zEZ62MatsYO2BXvxoE4Eh/GyTgT5+OLuBLX4WbcjnvwAB7F0+gilSpTEtmpETWnttSJulM/GkpjaAI9SXNoIS2n1fQ+baUdtI8O03E6y5BZWByrxeoxB2vJ2rMurBcbwIazDDaJzWDz2FK2gq1lm9inbBfbz35hJ9l5rvBYnsDr8AY8nbfhHfkdvA8fzEfx8XwKf5ov4Mv4Kv4ugMP93C7N/fSrJEJ2yU1yk9wktzCEbKL+TrRaw7Nz9ZXUJDVJzb0TppHNak0Mz06T1CQ1SU3fwUVfY0nFm8tW+BopjrhgV7vMWybzagX9XE6ZI9w5fH+EUDGSvZ/fFDyefxo0E7VrK2gD14v69SboBLeKGrYb9IS7RB17DwyAQaKWfQBGwmhRz46F8eAUNe3j8CRMF3XtbJgLz4radhEshZdEffsarIQ3RY37DrwLG0Sd+yFshU9Erfsl7ITdot79FvbDQVHz/gxH4Zioe0/BGTgnat8sROSi/jVjNFYSNXA1TMAaog6ujXa8QtTCDTEVm4h6+BpsiZqoidthB7w5dxaBXtgb++G9oj4eApCaHh94scsMYcrg+/pz+bkuy2t6QXVRef4BXJdb15TsmDTVMBEvE/VDXbxS1A6NsamoG1q5LaoyMNpISRdziEBwq+eCDnnjcpb7clrw/xB+zvKTGbznovRtd9jhSmFzNIHmwt5oCzcKW+M24cvdBf3gPmFjjIAxwr6YIKg8CU8JL+5ZWAgvCJvCPVflO8KDyxS2xGfCf9sN++AHYUP8D44L++Es/CNsB4Pw3CphnKgTauHlWE/UCA5sJmyF64TPdjN2wW7CRuiLA3CI8NdGYwY+Iry1J3AGzha+2vO4FF8WntqbuBbfE37aR/gpfim8tG9wP/6Iv+AxPIl/4XkCUshMsVSVEugyqkNXUANqTOl0LbWhdnQT3UK3UTe6k3rTPXQfDXHPdOm2RuICL/a09DjVEfJGFqtgxUT9HOTqdU+6CryZI8VhK085bEX/hURDZi7VzN7+dgUclzG1bNSfslhZLBYZFXrFylHS9afMXJqZIfcd3JKK+Q4uNc0R5whytcu8ZTKvzyvf1bciJPv+aRUiGfL0L5DvwiLzLVL5yOD7Coy0d1XFne775ydzOUt2vwuzXfIcoAYkixqmPlwtahfv597dhP3UV9QoQ3Tr6d+iLnlU2E7T8zwJWAlvCbtpA2yGj/M8+f5F1Bcn4S84jyBqChPGiFqiOtbM8yyggHdhcYFeJsmD7oP6aXb63rj8pMuDFze+fn575pTXdC/7owLOh5maM5BQ8QXskoVkIVmUUxae71KLsnVpkoakEfk0ovXPr4uy1SQJSSJiSbjNYEvue/JesE74rMNxO6XQJDogrMx57LT7WXxynHv8Sfe4k+Het0RJW9KWtCONNrnHnjPrI48UeitpSBplgYbmNhQ9w+0UeqtJIpJImSICGRAFUbSG1lTE/iXpEdD/QeYt3rxRKQk+/q6eFSE5KsXnT6sQyZ7+JTZa4nfuvHJdt7XE4D9LCeUTFpk3cvLq/R0CLO63wDJHeHP4+fk5Us6SAW7KfU5ohppwtag5u0E/uF/UkbNhGawXteB/4RD8Keq7RGyAmqjVuuFgHCfqrhdwJWaKWuoHPEmc4qk2pZFGXek+yqDHaCY9RytpPW2nH+gk4yyW1WYNmMa6st5sMBvHprDn2DK2nm1nP7CT7B8eyxN5A96Mt+Xd+GA+mk/hs/ky91PKJulNW2DubDn6m6owJtVEr6C9ODj4ZGr3wb94mNp9KLCYmAZWYHiZBqnAcDAVYoWswyLwLbwOQ2bqW7Ji4xvi7VUUpkW5wwrBV/je7iHWnEnWKjbPW8ZCR7XsvSscxPJFXfmZhIG2y+lHgLAADSNtV2ZgIoWirb+NDoJKSMRzkYaT9iVIw0HcH9Ii0Q7xKg2OuDsoUqpYkzxvSUMK27J3WuGK5yGl5SFZOFKazQe6wiIpEin/0oRAylagPEERC06eAkjlw1JYYgVcKcGRCvJaKYgYwL+9bPw4sEF9aApt4GboDvfAMHF0EjwF8+ElWAXvwVb4Cr6Dn+Ek/CNs/ipYE69AB7bCDng79sEhOAadOA3/g0vxdVyHH+IX+A0ext/xb+EDxFIi2elqakHtqAvdRQPpQRpPT9AcWkSv0tu0iT6jPXSQfqO/GLIoFq/7BM1YW3YL68nuZcPZWDaZzWIL2MtsNdvAtrGv2X72P3aaZXETr8pr8St5S34j78p76z7CBD6Vz+VL+Ar+Dt/MP+d7+Y/8OD+nMCVGSVAuVxrl9R9KNOjL/iiRoF1KLCWWEhciGJyXWW7E9RnMNpe0MO8vMb7DtXeFG6lELBFf3BfkQ0Yc4Pz7bGs2PLu89mhRd5rEJrHl2/n3LUsbWd4dgCHXpxoBh/A23EJNaJY+Qle8r38xdheVDMs+w+Lr8uv7vV/w3Sj9bSXd4qUbni6wvn9F72bod2AzSbo4SBediNe4mQpYoDLEQ02oA/WgEaRBC2gD7aETdIWe0AcGwFAYCQ/BeJgET8JMmAsLYCksh5WwBt6FTbAVtsNO2Av74TAchRNwBs4joorRaMUErIV2rI+pmI4tsS12wM54B/bCfjgQh+EozMAJOBmn4dM4Dxfii/gqrsK1+D5uxm34Be7CfXgAj+BveBLPoosYmSiW4iiJkimFGpCDmlNruoE6UhfqTndTfxpMw2kMPUwTaQrNoDk0nxbTMlpBq2kdbaQt9CntoD3uVln/0rUIW7ukIClEGIVE4d8FXFyazFJ8WTS3mx3sKjOX8cze49u529BYiINaYNfbz9b6fN136G3ncBgDE2Cy3m4uhmWwCtbqbeYO2AMH9Hm7z8AFVDAW4/S2spE+d/cNejvZBwfgcByjt5EzcS4uxmV6+7gJt+IOfQ7vI3gCz+AFUvR2sZY+j3ea3iZ2pjuoDw3Q28MJNJlm0ly9LVxFa2mTPp/3HjpAR+gEnaELTGGx+pzedtaIpbHW7AbWmd3B+ujzeo9hE9hkNpPNZYvZMrZKn9t7a04benEG3PDE7WGm5zUfsMQr8Uq8+eIXJ9oNIZQzw2/ohfVmVDKsiAzdjWZ09kS2IQa1QpbLCUrWknUQQS97zgRWqAkpkAotdFuuJ/SHYfAQTIRpuh33KqyBjbANdsJ3ug33NzKMxnhMxvq6/dYBu+LdOBBH4sO67TYfX8SVuA4343bdbjuKp9FFKlWmJN1ma05tqRN1p340VLfXnqQ5tJCW02p6X7fV9tFhOk5nGTKLbqfVYw7WkrVnXVgv3UbLYJPYDDaPLWUrdPvsU7aL7We/sJPsPFd4LE/gdXgDns7b8I78Dt6HD+aj+Hg+hT/NF/BlfBV/F+Biy1ASIbvkJrlJbpJbGELZNkZ4djl2kaQmqVV0atm2UXh2mqQmqUlq+k64GV/m+hqVIBkaQ1u4HXrAYOFlPAKP6uNQvAKvCx9jM3wNh+FPVLAapmAz4VnciUNxHM7ARbgKM3En/oiniVMc1aV0upF60hB6mKbTLFpKy+gdeo+2C//hIP1EZ+hvZmZJ7CrhOdzC+rARbCKbzV5kb7Ot7L/CVzjHTTyR1+fX8k68Nx/OncI7eIGv4R/xT/g+vp//zk8pTFGV6koNpYGSqlyndFXuVcYojyvzlFeUd5XPlO+UY4rLEGOoZbja0MZwm6G/YbRhsuE/huWG9YZPDd8afjP8o4JaWY1T66pXqi3U1uqt6u3qAHWwOladpj6vrlQ/UHeoB9WTRjJajZcb04ztjN2Ng4wZxqnGBcbXjRuNXxoPGP8woamKqY6piamZqYOpk6m36R7TKNNDpidM000LTUtNb5m2mHabjpj+Mqvm6uZ65mvMHc13mYeZHzHPNC8xrzZ/aN5l/sl8xmKwxFuusDS33GTpZbnfMsIy0TLZ8h/Lc5YVllWWTMtHlj2WfQDpjdObprktjdqqIa5qfLUWWPQEh+Ie3sHdISdnqGVPp+viSbQXgwQlk+BQLpGnzCQUh9bldSOvG3ndyOtGXjeRlSCvG3ndyOumrF03fc1GVTWaLe6txVmIiGuJpvX1dKiN1ofZtxU97lrizUEr9YjL6Q1QK/WIK1OeNXnW5FmTZ02eNXnW5Fkr3rNmEHS9eYQUNmhaLi1Bt/CxdkVBEa6wwRtTaYWLpAl5PuT5kOdDng95PuT5KNXz4T0XoQlqQRsYDq/Cm7AZfkAVr8XxAMlpjjSH+0lNfXSHcmJ1steLqfmP+M7hL5f/3AWVyF1ZmsO9i3MX8E6Py6Hiq1CcN5tA1OPyYwoG0iWFgi2Ys5Km96LO1Dx7z5Lp+Xw9N54n9ZL0fEf9HPcsTvdBzZkbF7md+bLoJPIneh3ydzBPlsCZcrO6R5rRPHvPkl04N54n9ZL0fEf9HPcs5HQfdTov5nE6Ly3hdPqnk30sIJfcPAFzeZa83zQaIUYfGSARbPrYAFdBY2imjw5wPdykjw/QDe7KHiHgARitjxHghMf1UQJmw7OwSB8n4DVxb7tHCtgAH2aPFbAbvtVHC/gZjunfP56DLOT6iAGVsJo+ZkBtvCJ71IBrUNPHDbgZb9NHDuiN9+IQfeyAf+E4/cvIJ/Cp7PEDluDL+ggCb+F6fQyBj/Az/EofReB7/FEfR+B3/DN7JAEDRenfTFany/TRBK6kqwH0ua/jUtPjgg/YZZEKXKSKNUnzsbp8JVaIA6ISFfVMwK3MUoxZvMYh85rnGcD9Csw9rJS7fQ/3kFJpkna5oe0eqYoyzUUbZ0rSCD8N4UP1zX4+W+itUxLxSUQfn60oRPKMBUK65WzRbeequvVcU7ef6+oWdCNhQ6fpVnQr3Y5ur1vSt+q2dE/dmr5H2NODdIt6pG5Tj9Wt6km6XT1dt6znCtt6gW5dv6Tb1yt1C/sd3cbepFvZnwg7+0vd0t6r29oHdWv7qG5vn9It7vPC5kbd6jbrdrdVt7xr6La3Xbe+Gwr7u4lugbfUbfB2uhXeWbfDe+iWeD9hiw/EIe6xQOIDL/Z03Wbyv9glheAoeHmWLq20IxX5l2/8n5wx9OzQQNzfLeGGfOPnZcBEcf8+DfP1UYBWwGpYJ+7VbbBD3KEH4Bc4Dqfhb30kIIu4F5OwjrgDHdhcHwuoI3bBnuJuG4wjMQMn4hScgXNwvj4e0Epcixtxa57R8k7jeeHhWsiab6S89tSZulMfGkjDaBRl6OMCzaC5tJCW0UpaS+/TZtpGX9Au2keH6CidpL8ZMpVFMytLYLVYCmvE0llr1p51BkhPSXfEqw4/W0W3URxxjiD39oDUQqMZmJZEJpFFIrJbK1WyVarU18/W9aYwM/QX9D43rsClC6Lh+koyl8xDYc5rJCXVyL9yty2t+d1c76tM4HI+i0g2ZZYNCMuo1OceC8csYIWckKfo8/hIxuWfsSl7spkg967McGeUlEuWcgjTs4QpjyRXZHLe/VhiIR0egh3CW78Jh+Erwv++j47q/Vji3O8J61zszZIbz7933/jZa8B8AcoVqnwQ9MJCNwQ+Xr1rcuvEuDQfhDyHclafWQIXCalocKSKRDI0FmFlVTjWOStpHgNP7/WTz+jz6g/k1zC8pOdQYDvSV5kQShZAI7tfUnblnLdE7mF/JPNRKRiDT+ahCBFAhpB0EQzB7G5S7irQ01VKD13ceHWbynfEV56CcvovE3zJgmjkdMXKrtWdeQtd7EXlj2z+3lYFA/HdSysUUQL19gpJJcFQzOkZBvB4wHdcV4ADWkEHuB36wCAYCWOFLzcd5sELsBLWwxb4EvbCQTgKp/R3T2ashsl4FabjddhR+HN34304HB/Ufbrp+Cy+hKvwPdyCn+Me/AF/wdN4gcxUjWpTQ0onjTrQbdRLtLIjaRxNodm0kF6mVbSeNutzSh+iY3SWEYth8czG6rHGrAVrz7qyPmwo+xebyKayOex5toy9wd5lW9lX7Dv2CzvN/uEKj+Hx3Mav4un8Ot6J9+D9+f18DH+ET+Gz+AL+Ml/NN/BP+G6+n//MT/BzCgKkN0eH/yU5PcWRHu9Q41NUR+GCSiNhV9TCWHQEEbCXLLt0LwFTvcikFiPPFL969YfAL5rQVJuipuYULYh0fu5eRSP5dPpiF9SpLLR8Bem0GE5joWTMh6NwHEO8K0q0DiiKgI6eKe5/QorTNV+1VjeqCVVVa1VnQUHNZ2pWVVN8vMlYvbrReUkg85IU1+uF4+IVdD0TCkNrwSIWyNGHiJcyyg0M86fVAvkEFjIAS9cua9Wcsj1DYLj8YjHX8SD4+DyNoYjlU8LiZOglYVaDIPhcZDjHp0pDknB3SAyPFY6LFvCiKV6Gge79S6/bgu/9Am+WoCTMZYjxsfFiiYkJdo+ecjnl/e/bSMrelHPKFEQxJxQJmIOlGDrmYLURSWewDFKGmQH828ugNtSFK6EhNIfroTPcCQNgBIyCf0EGjAMnPAZPCG93FiyA5fAWbIRPYBf8F/bB93AADsMv8BucgNNwAS0Yj3WwITbHltgGb8AO2Al7YH98ADPwMZyJc3AeLsDF+CK+ge/iR7gDv8UjeBSP40k84/VmM5VaUhu6QfjBnagL3U2DaBQ9QlPpP/QcLaIXhDf8Gr0jvOHPaS/9SMfppHv8X3IxZFHCJ67NGrBmrK3wiTuyzsIv7s76swdYBnuMzWTPsUXsBfYye033jj9iO9i37Aj7g/3JzgkPGTgP6PHa0+rEOfKtSpGdmJRCcAjR2A6aRTDeiV/exaOeCKeaTzM+6fryA0uPcGlpN1LBYmXHpX+P0+d0uj52rMn+uz4unAnoHRQ0I52i63hFpHa86A5MsVGLZEnDgO3t3G7nqDhyf0qoppBWaoVvKONlQzXBw1W2tDCHytc1gTJdWv5VmNO6Tc3q5pnnYoCwmqfAs/AqvAfbhYV8HLIwFm2YitdhV7wXx+Djwgp+Rdi/n+F3eAxdFEO16Gph795G/Wk0TRZW7nJaT5/St/Qb/cOi2WWsEdNYF3YPGyVs2LnCel3HPmH72K/sPI/iNXlD3prfyvvxB/kk/gxfxt/h2/g3/Cj/P8Wiz2bRSums9FVGKo8qc5SXlLXKx8pe5X/K3wazIclwlaGl4RZDH8MIw0TDbMOLhrcNWw3/NfxiOKea1ES1vnqt2kntrQ5XnerT6gvqGvUjdY/6s3rWaDQmGK80tjDebLzb+IBxgnGWcanxLeMW427jEeNfJtVU3VTPdI2po+ku0zDTIwD2/IPUJheYcMn4wSVTRA2dhhROCieFk8JJ4aRwUjgpXOQJhzZG4qdviBD8x1yZCudMERvOuILgP+bKVA2qwWA0iK1iRPAfc2WajMIkNBvF1mjOMzQw5o2BdywrU4KWoCVoCVqClqAlaFN0Qi4ob4D5woZsPAo3cOYvnAPFoIqd37BqtLgRmkzBjvHbUwKUACVACVAClACLBNB7/KlL360shdfgffgc9sPvcAErYTI2xrbYCbvjIMzAqbgAX8eN+CUewD/wbyGMlS6nNGpH3WkQZdBUWkAv0Ur6QJ87/CQjZmWXszTWjnVmPdhgNpZNY8+zlewDtoMdZCc5cSu/nKfxdrw7H8Qz+FS+gL/O1/IP+A5+kJ9USLEqlytpSjulu9JXGayMVaYpzysrlQ+UHcpB5aSBDBZDVYPd0NTQ3tDDMNgw1jDN8LxhpeEdwybDV4ZDhlMqU6uqdrWp2l7tofZThwCk5/fgI2VqRMUdyX3G4E695MFJJEH1fOepY02NeLBlSK9lDaoj4qFeir3AJ5QRhdQdceSoW0INI9RkCbU4ofb1dsy1Eoq4llSxJlmtibQp0Vol0Wp15UHhLD7GzvwoEtENo3U2jCXBFSwy57zKOOhRBuYo42BRKRYmW5YtG0W2LrJsRRWyMCrL6utBka2KrCJfnUU+b1mZeZ+blYpWFnvUoXmUk+X/Mi3OC6SPB0RmNgj/p6YY75WsWh4QmKMKW1gZB1txHMhGkekLRYlVotkoKFsXUUG5omEKRwnGSdYqHs43lzBnIbXgnFil5DmXnswVjnMeFN7PRkpWfo/kHi1IzhWDs/vR28f68zen7NscuG+zaaZpiWm16UPTLtNPpjNmgznefIW5ufkmcy/z/ebx5qfMi81vmjebvzYfNv9pUSzVLCmWZpYOljstQy3jLDMsiyyrLJmWnZYfLaejeFRcVN2o9Kgbo3pGDYl6OGp61MKoN6I2RX0VdSjqVDSLrhptB0hvnN40rUlK3Tq1VUNc1fhqjuT8CUrJ5IgQh67gBLvUmNSY1FiEJUiNSY1JjUVagtSY1JjUWKQlSI2FmtDXu0MLat6xC6Bwxrji7sfCDah5xy6A6vaKs31j1LxjF8BsVFWj2eLeWlDzjrnyPCPXSiOSBVJkKbIUWYosRZYiS5GlyFLkkov4/TLHIOTyljE37H6N7S3gxbCQyFu63HBQ/aaLI+y3s7gUTgonhZPCSeGkcFI4KVypCQcA/w94SDHvAHicpVRNb9RWFD2eD/JF2EQCqU3RXSFVCHsyIEQQC6KRJs0OJVK6QRW2xxk/ZmwP9hucYVOkSuxY8RPYVOqqXbf/oWrVDf8Aqb+gqx4/v4RkNEAk5mn8ju97955z77t+AMR5BQf1bxP3LXawgR8tbmAJby1u4jreW9zC185Di9tYc7TFl7Dh/GzxEh407lq8jOuNXy1ewXrjX4tX0Wk+tngN15p/WHwZ2609i9ex2TqxX8HNdtfiDXzb/o2qnNYK3+4ZhRV2cAPfW9ygxxuLm3iAXyxu4a6zbHEbV53HFl/CDeelxUs4dn63eJm5FBav4KvGnxav4knjP4vX4DZfW3wZefMfi9dxr/WTxVdw2Hpn8Qb22z+ghwwTzJBDYYgYGoIdDPgWISXexZSzz3XNp6CLDrb4Ry+bzHI1jLXsDFSUyu409XPtS7ezxdUDuud0SBl0xFkZLHjEWXNUqym3RbmfDke+8lN55Gsd5TTuc3VI2rGhxX40nI59gj6lpvQ94D/nemjEXpCpn6X6QOfTUMtC0ouFkXlxC2LJqeBD41UwVmZ8t+BWlTuM8kJlqWy5Hy3UrU8U6tap5sUFUWQUc1baRB4wRmLUjmjLcMRnnz57Zj6JEJs+EFrTU9ZKQa3dZ75VLyQI8N25YqpCfNG5P4gSPx9JdiT9gz0xG+JsIntpJdXXzNcfy24S0Ds2iU34wXscR1ZCcSYJ94y1FubSnpEesdaT+553RILCKHANJJcbZlz/eO/iXJ9CNi925vINLSUtVVUDRlSshTY2xTk+V8UPKawCfy1ojr+l9AsJpmqspVQ6lg+lXJ2vTGnG52tRluVcEb6kwov3121QcLXeXxLdYTNvc3Sry+/T53LGzk4oPNpL705ne7tL1x5ZIttsz4nEXEoJR81ZXUjaaFHmAE7UoJdH7KznkfSyJGFY2dE6V8G04pgvQjhHEp6jcDnn7AKPZ6u4FhlrZBIOeDt6uG2+Xe800dByhzW1m+VDb6zCKC2iwgtm3m2341Vf6ElKgblfBc+YgE+GEd9TY3nB9QnVzsxdIXhKLXWHJbTVvXdsIkTsbfSrhAM1lGdTPxypdCgvokk8ywt5mrGpkhk77FiCaID/ATilg8kAAAB4nG3LyW5BAQBA0YOkfqQULZ65hu7MU1FjsUYi0o2Fv+9Luu256yvqTynsP+9EopGYmGcJSS9S0jJevcnKyQsUFMO7rKKqFh51DU0tH9o6unr6BoZGxiamPs3MLXxZWlnb2Nr5tndwfDpdHz/nQvx+uwRB0P4Fhy8SRwAAAAAAAf//AAJ4nGNgZGBg4AFiMSBmYmAEQnMgZgHzGAAF+wBmAAAAAQAAAADf1ssxAAAAAMkXdfMAAAAA3/Jb3A==) format('woff');
}  

